*{
    margin:0px ;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 80%;
    background-color: rgba(247, 192, 92,0.7);
    padding:34px;
    margin: auto;

}
.container h1,p{
    text-align: center;
}
p{
    font-size: 25px;
}
input,textarea{
    
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    width: 80%;
    margin: 11px;
    padding: 7px;
    font-size: 24px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    color: white;
    background: orange;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.btn:hover{
    background: rgb(255, 255, 255);
    color: orange;
    border:2px solid orange ;

}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}
.submitMsg{
    color: green;
    font-size: 30px;

}
